
<!-- pays -->
<div class="row">
    <%= for country <- @countries do %>
      <%= link to: article_path(@conn, :index, country) do %>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="<%= static_path(@conn, country.picturePath) %>" alt="...">
                <div class="caption vignetteTitle">
                    <%= country.name %>
                </div>
            </div>
        </div>
      <% end %>
    <% end %>


</div>
