@font-face {
    font-family: 'cac_champagne';
    src: url('../fonts/cac_champagne.ttf');
}

/* This file is for your main application css. */
html,
body {
  /*overflow-x: hidden; /* Prevent scroll on narrow devices */
  /*background-color: #ececee !important;*/
  background-image: url("../images/background.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
}

main {
  margin-left: -27vh;
  margin-top: 10vh;
  width: 175vh;
}

img {
  border-radius: 15px;
}

#title {
  margin-left: 75%;
  font-family: 'cac_champagne';
  font-size: 50px;
}

#articleTitle {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 5vh;
  font-weight: bold;
  font-family: 'cac_champagne';
  font-size: 40px;
}

#articleContent {
  font-size: 20px;
  margin-left: 20vh;
}

#map {
  height: 100%;
  width: 100%;
}

#sidebar {
  float: right;
}

#time {
  animation: marquee 1s linear infinite;
}

#connection {
  margin-left: 82vh;
}

.vignette {
  border: none !important;
  background-color: transparent !important;
}

.container {
  display: inline-block !important;
  margin-left: 330px !important;
}

.vignetteTitle {
  text-align: center;
  font-size: 35px;
  font-family: 'cac_champagne';
}

.publicationDate {
  font-size: 10px;
  color: #777;
}

.navbar-custom {
  height: 1vh;
}

.navbar-custom > .container {
  margin-left: 0 !important;
}

.list-group-item {
  width: 50vh;
}

.mapContainer {
  height: 80vh;
  margin: 0;
  padding: 0;
}

.vignetteList {
  margin-left: 40vh;
  width: 55%;
  background-color: transparent !important;
  border: none !important;
}

.customAlert {
  margin-top: 50px;
}

.thumbnail {
  border: none !important;
  background-color: transparent !important;
}

@keyframes timeContainer {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

@media screen and (max-width: 770px) {
  .countryLink {
    max-width: 50% !important;
  }
}
